button{
    background-color: blue;
    color:white;
    padding:2%;
    margin:2%;
}
.disabledButton {
  background-color: gray;
}
.product-image{
  display: inline-block;
  width: 220px;
  border:1px solid gray;
}
.product-image img{
  max-width:200px;
  margin:3%;
}
.product-info{
  margin: 2%;
  width: 45%;
  display: inline-block;
}
.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.outDecoration{
  text-decoration: line-through;
}
